@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--backgroundColor: rgba(51, 51, 51, 1);
	--colorInput: rgb(25, 25, 25, 1);
	--boxShadowLogin:rgba(192, 192, 192, 0.4);
	--colorRed:rgb(218,0,0, 1);
}

/* Img poster */
.carousel-item img {
    height: 750px; /* Thay đổi chiều cao của hình ảnh nếu cần */
    object-fit: cover;
}

body{
	width: 100%;
	height: 100vh;
	background-color: var(--backgroundColor);
	font-family: 'Roboto',sans-serif;
}
.container{
	max-width: 97%;
	margin: 0 auto;
}

img{
	width: 100%;
}

/* Login */

.message {
	height: 0;
}

.alert {
    position: absolute; /* Đảm bảo thông báo nằm ở vị trí cố định */
	top: 0;
	left: 0;
    width: 97%;
    height: auto;
    padding: 10px;
    margin: 10px;
    line-height: 1.8;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
    z-index: 9999; /* Đảm bảo thông báo nằm trên các phần tử khác */
}

.alertCheckbox {
    display: none;
}

.alertCheckbox:checked + .alert {
    display: none; /* Ẩn thông báo khi checkbox được chọn */
}

.alertText {
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

.alertClose {
    float: right;
    padding-top: 5px;
    font-size: 10px;
    cursor: pointer; /* Thay đổi con trỏ khi di chuột qua nút đóng */
}

.success {
    background-color: #EFE;
    border: 1px solid #DED;
    color: #9A9;
}

.error {
    background-color: #FEE;
    border: 1px solid #EDD;
    color: #A66;
}

.container-login{

	position: relative;
}

.container-login > img{
	position: fixed; 
	top: 0;
    left: 0;
    object-fit: cover; 
	z-index: -1;
}

.main-login{
	width: 520px;
	height: 100vh;
	background-color: var(--backgroundColor);	
	box-shadow: 1px 10px 10px 3px var(--boxShadowLogin);
	position: relative;
	top: 0;
	left: 1072px;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
}
.main-login form{
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.main-login form h1{
	font-weight: 700;
	font-size: 20px;
	color: white;
}

.main-login input[type='text'] {
	width: 100%;
	margin-top: 20px;
	padding: 7px 15px;
	color: white;
	font-size: 11px;
	background-color: var(--colorInput);
	border-radius: 7px;
	border: none;
	outline: none;
}

.main-login input[type='text']::placeholder{
	color: white;
}

.forgot-password{
	width: 100%;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 12px;
	color: white;
}

.forgot-password .remember input[type='checkbox']{
	width: 10px;
	height: 10px;
	margin-right: 5px;
}

.forgot-password .remmeber{
	display: flex;
	align-items: center;
	justify-content: center;
}

.forgot-password a{
	text-decoration: none;
	color: white;
}

.main-login form button{
	width: 100%;
	font-size: 14px;
	font-weight: 500;
	color: white;
	background-color: var(--colorRed);
	border-radius: 15px;
	border: none;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 140px;
}


.logout{
	width: 100%;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-size: 13px;
}

.logout a{
	color: white;
	text-decoration: none;
}

.logout a:last-child{
	text-decoration: underline;
	font-weight: bold;
}

.main-login form p:nth-of-type(1){
	margin-top: 20px;
	color: white;
	font-size: 13px;
}

.main-login .link-login {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main-login .link-login a {
	width: 170px;
	height: 32px;
	display: flex;
	align-items: center;
	background-color: aliceblue;
	border-radius: 15px;
	text-decoration: none;
}

.main-login .link-login a p{
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	margin-left: 28px;
	color: rgba(24, 119, 242, 1);
}

.main-login .link-login a img{
	width: 22px;
	height: 22px;
	border-radius: 50%;
	margin-left: 5px;
}

/* Trang chu */
/*header*/
#header{
	width: 100%;
	position: fixed;
	border-bottom: 2px solid rgba(255, 255, 255, 0.4);
	padding: 2rem 0 ;
	background-color: rgb(92, 92, 92, 0.3);
    backdrop-filter: blur(5px);
	z-index: 100;
}
#header .container > i
{
	color: white;
	cursor: pointer;
	z-index: 1000;
	transition: transform 0.4s ease-in-out;
}
#header .container > i.change{
	transform: translateX(1500%);
}
.information {
	margin-left: 2rem;
}

.information > i{
	color: white;
	cursor: pointer;
}

.information img{
	border-radius: 50%;
	width: 33px;
	height: 33px;
}

.header-right .search input{
	position: relative;
	border-radius: 20px;
	padding: 0 20px;
	background-color: rgba(1, 1, 1, 0.4);
	border: none;
}

.header-right .search > i{
	position: absolute;
	right: 130px;
	color: white;
	cursor: pointer;
}

#header .menu {
	width: 300px;
	height: 100vh;
	position: absolute;
	top: 0;
	background-color: rgba(1, 1, 1, 0.8);
	transform: translateX(-70%);
	opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

#header .menu.open {
    transform: translateX(-15%);
	opacity: 1;
}

#header .menu img{
	width: 70px;
}
#header .header-menu{
	padding: 40px 50px;
}
#header .main-menu{
	margin-top: 30px;
	padding: 0 10px;
}

#header .main-menu ul{
	position: relative;
	list-style: none;
	margin-top: 40px;
}
#header .main-menu ul p::after{
	content: '';
	position: absolute;
	left: 40px;
	top: 20px;
	height: 1px;
	width: 25px;
	background-color: white;
}

#header .main-menu ul li{
	margin-top: 8px;
}

#header .main-menu ul li a {
	color: rgba(166, 166, 166, 0.5);
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}

#header .main-menu ul li a i{
	color: rgba(166, 166, 166, 0.5);
	margin-right: 10px;
}

#header .main-menu ul li:hover a,
#header .main-menu ul li:hover a i{
	color: white;
}

#header .main-menu ul p{
	font-weight: bold;
	color: white;
}
/* main */
.carousel-item {
	transition: transform 0.6s ease-in-out;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
	transform: translateX(0);
}
.carousel-item-next {
	transform: translateX(100%);
}
.carousel-item-prev {
	transform: translateX(-100%);
}
.carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
	transform: translateX(0);
}
.carousel-item-left.active, .carousel-item-right.active {
	transform: translateX(-100%);
}


main #slide .carousel-item{
	position: relative;
}

main #slide .carousel-caption{
	height: 500px;
	position: absolute;
	left: 8%;
	top: 40%;
	transform: translateY(-20%);
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

main #slide .carousel-caption .carousel-content p:nth-child(2){
	color: rgb(255,230,0);
}

main #slide .carousel-caption .carousel-content p:nth-of-type(3){
	width: 700px;
}

main #slide .carousel-caption .carousel-content h5{
	font-size: 50px;
	font-weight: bold;
	margin: 20px 0;
}

main #slide .carousel-caption .carousel-love{
	position: absolute;
	left: 0;
	top: 55%;
}

main #slide .carousel-caption .carousel-love form{
	height: 350px;
	display: flex;
	align-items: center;
}

main #slide .carousel-caption .carousel-love button i{
	margin-left: 10px;
}

main #slide .carousel-caption .carousel-love button{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	padding: 5px 15px;
	font-size: 18px;
	font-weight: bold;
	border: none;
	color: white;
}
main #slide .carousel-caption .carousel-love button:first-child{
	background-color: var(--colorRed);
	margin-right: 30px;
}

main #slide .carousel-caption .carousel-love button:last-child{
	background-color: var(--backgroundColor);
}

.active {
	color: white !important;
}

label {
	font-weight: normal;
}